dialog{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    background-color: rgba(29,29,29,0.85);
    position: fixed;
}

.popup{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FEFDFD;
    border-radius: 10px;        
}

#fav-color h4{
    margin: 32px 0 18px;
    font-size: calc(12px + 1.6vw);
    font-weight: 300;
    padding: 0 2vw 2px;
    border-bottom: 1px solid #222;
}

#fav-color #color-options{
    width: 84%;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fav-color #color-options h5{
    margin: 8px 0px 12px;
    font-size: calc(6px + 0.6vw);
    font-weight: 500;
}

.color-option{
    margin: 0.4vw;
    width: 4.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-option:hover{
    opacity: 0.7;
}

#fav-color #update-theme-button{
    margin: 24px 0 20px;
    padding: 10px 26px;
    font-size: calc(8px+0.6vw);
    font-weight: 400;
}

#fav-color #update-theme-button:hover{
    color: #FFFFFF;
    opacity: 0.7;
}

.checkmark {
    color: white;
    font-size: 2vw;
}

#fav-color #color-options .color-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(16px + 1.7vw);
    height: calc(16px + 1.7vw);
    padding: 0;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

#make-note h4 {
    margin: 32px 0 18px;
    font-size: calc(16px + 1.6vw);
    font-weight: 600;
}

#make-note #edit-post-it {
    height: 340px;
    width: 35vw;
    font-size: 2.6vw;
    padding: 14px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    outline: none;
    resize: none;
}

#make-note .post-it-button {
    display: inline;
    margin: 24px 0 20px;
    padding: 10px 26px;
    font-size: calc(12px + 0.6vw);
    font-weight: 400;
}

#make-note #add-post-it {
    border: 2px solid #222;
}

#make-note #add-post-it:hover{
    color: #FFF;
    background: #222;
}

#make-note #delete-button{
    border: 2px solid #D71C1F;
}

#make-note #delete-button:hover{
    color: #FFF;
    background: #D71C1F;
    border: 2px solid #D71C1F;
}